
<%= content_tag :div, class: "stock_info", data: {stock: @stocks} do %>
<% end %>

<%= @stocks.chart.first.date.to_s + " " + @stocks.chart.first.label.chomp(" PM").chomp(" AM") %>


<body>
  <div class="stock_chart_title">
    Stock Chart
  </div>
  <svg class="stock_chart"></svg>
  <div></div>
</body>