// Place all the styles related to the stock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: black;
  color: white;
  font-family: "Sans-serif";
}

.crossHairs{
  stroke: white;
}
.line-chart
    {
        border: 1px solid lightgray;
    }


rect {
  fill: none;
  cursor: crosshair;
  pointer-events: all;
}


.line {
  fill: none;
  stroke-width: 1.5;
}